@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

main h1, h2 {
  font-size: 24px;
}

.menuTitle {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
}
.menuTitle h1 {
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
}

h2 {
  padding-left: 10px;
}

/* On cache toutes les checkboxs et leurs espaces */
input[type=checkbox] {
  display: none;
}

/* Fond du loader */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Toujours au-dessus */
  animation: fadeOut 3s ease forwards; /* Animation pour disparaître */
}

/* Animation de disparition */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/* Spinner */
.spinner {
  width: 150px;
  height: 150px;
  border: 10px solid rgba(0, 0, 0, 0.2);
  border-top: 10px solid #FF79DA;
  border-radius: 50%;
  animation: spin 1.5s cubic-bezier(0.2, 0.64, 1, 0.35) infinite;
}

/* Animation du spinner */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Contenu principal */
#content {
  display: none; /* Masqué par défaut */
}

/* Rendre le contenu visible après le loader */
body.loaded #content {
  display: block;
}

/********** method 1 **********/
/* 1. On masque la checkbox qui sert de déclencheur */
/* 2. Conteneur pour centrer ou styler l'exemple (optionnel) */
.containerHeart {
  cursor: pointer; /* pour signaler qu’on peut cliquer */
}
.containerHeart__fillRect {
  /* 3. Par défaut, le cœur est réduit de façon à ne pas le voir.
  On utilise un transform direct pour l'état "non coché". */
  transform: scale(0.1);
  transition: transform 4000ms;
}
.containerHeart__heartOutline {
  /* On dessine un contour du coeur pour visualiser la forme (optionnel) */
  fill: none;
  stroke: black;
  stroke-width: 1;
}

input[type=checkbox]:checked + label svg .containerHeart__fillRect {
  /* 4. Quand la checkbox est cochée, on lance l’animation du cœur qui grossit jusqu'à prendre sa taille initial.
  Donnant un effet de remplissage en (4s).*/
  transform: scale(1);
}

/********** method 2 **********/
/* 1. Animation pour faire "remonter" le rectangle (remplissage) */
/* 2. On masque la checkbox qui sert de déclencheur */
/* 3. Conteneur pour centrer ou styler l'exemple (optionnel) */
/* 4. Par défaut, le rectangle est placé en bas (hors du coeur).
        On utilise un transform direct pour l'état "non coché". */
/* 5. Quand la checkbox est cochée, on lance l’animation 
        de remplissage (3s). Le "forwards" garde l’état final. */
/* On dessine un contour du coeur pour visualiser la forme (optionnel) */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar__location {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  background-color: #e8e8e8;
  box-shadow: 0px 3px 3px #ccc, inset 0px 2px 2px #ccc;
  padding: 10px 0 10px 0;
}
.navbar__location i {
  padding: 0 10px 0 10px;
}
.navbar__location input {
  border-style: none;
  font-weight: 500;
  font-style: normal;
  background-color: #e8e8e8;
}
.navbar__location input::placeholder {
  color: black;
}

.navbarMenu {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.navbarMenu i {
  color: black;
}

.cta1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 186px;
  height: 50px;
  text-decoration: none;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 50px;
  filter: drop-shadow(1px 5px 7px rgba(0, 0, 0, 0.2));
}
.cta1:hover {
  opacity: 0.7;
}

.backgroundRectangle {
  display: flex;
  align-items: center;
  border-radius: 15px 15px;
  width: 349px;
  height: 69px;
  padding: 0 10px 0 10px;
  margin: 15px;
  filter: drop-shadow(1px 5px 7px rgba(0, 0, 0, 0.2));
  transition: width 0.6s ease;
}
.backgroundRectangle--backgroundColorGreyLight {
  background: #F2F2F2;
}
.backgroundRectangle--backgroundColorWhite {
  background: white;
}
.backgroundRectangle i {
  color: #898989;
}
.backgroundRectangle a {
  text-decoration: none;
  color: black;
  padding-left: 10px;
  font-weight: 500;
}
.backgroundRectangle--hoverPrimary-color:hover i {
  color: #9356DC;
}
.backgroundRectangle__animation:hover {
  width: 70%;
}
.backgroundRectangle__animation:hover i {
  color: #99E2D0;
}

.card {
  background-color: white;
  height: 251px;
  width: 340px;
  border-radius: 15px;
  position: relative;
}
.card__contenairNew {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  border-radius: 3px 3px 3px 3px;
  position: absolute;
  top: 10px;
  left: 250px;
}
.card__contenairNew p {
  opacity: 50%;
}
.card__icone svg {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.card a {
  color: inherit;
  text-decoration: none;
}
.card img {
  height: 70%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.card__containerTextIcone {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.footer {
  background-color: #353535;
  color: white;
  padding: 30px 0px 30px 20px;
}
.footer a {
  color: inherit;
  text-decoration: none;
}
.footer h4 {
  font-family: "Shrikhand", serif;
  padding-bottom: 20px;
}
.footer ul {
  display: grid;
  grid-gap: 0.5em;
}
.footer li {
  list-style-type: none;
}

.navbar__title p {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-size: 24px;
}

.section__restaurantSelection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F2F2F2;
  padding: 30px 0 60px 0px;
}
.section__restaurantSelection p {
  padding: 10px 10px 30px 10px;
}

.section__functioning {
  background-color: white;
  padding: 30px 0px 30px 0px;
}

.functioning__link {
  display: flex;
  justify-content: center;
}
.functioning__link ol {
  list-style: none;
}

.circleNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -5%;
  background-color: #9356DC;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.circleNumber p {
  color: white;
}

.section__cardsRestaurants {
  background-color: #F2F2F2;
  padding: 50px 0 70px 0;
}

.cardsRestaurants__cards {
  display: grid;
  gap: 2em;
  justify-items: center;
  padding-top: 20px;
}

.backgroundMenu {
  background-color: #F2F2F2;
}

.headernavbarMenu img {
  height: 257px;
  width: 100%;
}
.headernavbarMenu div:nth-child(1) {
  margin-left: 10px;
}
.headernavbarMenu div:nth-child(2) {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu {
  background-color: #F2F2F2;
  border-radius: 25px 25px 0 0;
  padding-top: 30px;
  position: relative;
  top: -40px;
}
.menu h2 {
  padding-top: 30px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
}
.menu li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu h3 {
  font-size: 18px;
}
.menu p {
  font-size: 15px;
}
.menu span {
  font-size: 15px;
  font-weight: 700;
}

/*
.backgroundRectangle--backgroundColorWhite {
    & div:nth-child(3) {
        display:none;
    }
    &:active {
        display:flex;
        justify-content: center;
        align-items: center;

        //position: relative;
        //left: 10px;

        height: 20px;
        width: 69px;

        border-radius: 0 15px 15px 0;

        background-color: $tertiary-color;

        & i {
            font-size: 25px;
            color:$tertiary-color;
            border-radius:50%;
            background-color: white;
        }
    }
}
*/
.line {
  border: none; /* Supprime les bordures par défaut */
  height: 3px; /* Épaisseur de la ligne */
  width: 40px; /* Largeur de la ligne*/
  background-color: #99E2D0; /* Couleur de la ligne */
  margin: 5px 10px; /* Marges autour de la ligne */
}

.orderButton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/*# sourceMappingURL=main.css.map */
