/********** method 1 **********/

/* 1. On masque la checkbox qui sert de déclencheur */

/* 2. Conteneur pour centrer ou styler l'exemple (optionnel) */
.containerHeart {
    cursor: pointer; /* pour signaler qu’on peut cliquer */
    &__fillRect {
        /* 3. Par défaut, le cœur est réduit de façon à ne pas le voir.
        On utilise un transform avec sa valeur translateX (axe Horizontal) translateY (axe Vertical) pour centré le cœur dans l'état "non coché". */
        transform: translateX(12px) translateY(12px) scale(0.01); 
        transition: transform 1000ms ease-in;
    }
    &__heartOutline {
        /* On dessine un contour du coeur pour visualiser la forme (optionnel) */
        fill: none;
        stroke: black;
        stroke-width: 1;
    }

}

input[type=checkbox]:checked + label svg .containerHeart__fillRect {
    /* 4. Quand la checkbox est cochée, on lance l’animation du cœur qui grossit jusqu'à prendre sa taille initial.
    Donnant un effet de remplissage en (1s).*/
    transition: 1000ms ease-out;
    transform: scale(1);
}

/********** method 2 **********/

/* 1. Animation pour faire "remonter" le rectangle (remplissage) */

// @keyframes fillFromBottom {
//     0% {
//     transform: translateY(50px); /* Part en bas (hors du cœur) */
//     }
//     100% {
//     transform: translateY(0);     /* Remonte complètement */
//     }
// }

/* 2. On masque la checkbox qui sert de déclencheur */

/* 3. Conteneur pour centrer ou styler l'exemple (optionnel) */

// .containerHeart {
//     cursor: pointer; /* pour signaler qu’on peut cliquer */
// }

/* 4. Par défaut, le rectangle est placé en bas (hors du coeur).
        On utilise un transform direct pour l'état "non coché". */
// .fillRect {
//     transform: translateY(0px); /* en bas, hors du cœur */
//     transition: transform 0.2s ease; /* Petit transition si décochage */
// }

/* 5. Quand la checkbox est cochée, on lance l’animation 
        de remplissage (3s). Le "forwards" garde l’état final. */
//     input[type=checkbox]:checked + label svg .fillRect {
//     animation: fillFromBottom 4s forwards ease;
// }

/* On dessine un contour du coeur pour visualiser la forme (optionnel) */
// .heartOutline {
//     fill: none;
//     stroke: black;
//     stroke-width: 1;
// }


