* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

main h1, h2 {
    font-size: $seize-police-title;
}

h2 {
    padding-left: 15px;
}

/* On cache toutes les checkboxs et leurs espaces */
input[type=checkbox] {
    display: none;
}