.navbar__title p {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-size: 30px;
    @media (min-width: 1024px) {
        & {
            font-size: 37px;
            padding: 20px 0 20px 0;
        }
    }
}

.mainHome h2 {
    padding-bottom: 20px;
}

.section__restaurantSelection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $grey-light-color;
    padding: 30px 0 60px 0px;
    @media (min-width: 1024px) {
        & {
            padding:30px 0 30px 0px;
        }
        & h1 {
            font-size: 40px;
            padding-bottom: 15px;
        }
    }
    & p {
        padding:10px 10px 30px 10px;
    }
}

.responsiveMax1440 {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:auto;
}

.section__functioning { 
    background-color: $white-color;
    padding: 45px 10px 35px 10px;
    @media (min-width: 1024px) {
        & {
            display: flex;
            padding: 45px 0 35px 0;
        }
    }
}


.functioning__link {
    //display: flex;
    //justify-content: center;
    & ol {
        list-style: none;
    }
    @media (min-width: 1024px) {
        & ol {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        & li {
            max-width: 323px;
            height: 72.38px;
        }
    /* Styles adaptés aux desktops */
    }
}

.circleNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: -2%;
    background-color: $primary-color;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    @media (min-width: 1024px) {
        & {
            left: -6%;
        }
    }
    & p {
        color:white;
    }
}

.section__cardsRestaurants {
    background-color: $grey-light-color;
    padding: 50px 10px 70px 10px;
    @media (min-width: 1024px) {
        &  {
            display:flex;
            padding: 20px 0 30px 0;
        }
    /* Styles adaptés aux desktops */
    }
}

.cardsRestaurants__cards {
    //display: flex;
    //flex-direction: column;
    //column-gap: 10px;
    padding-top: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    @media (min-width: 1024px) {
        & {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 70px;
            row-gap: 30px;
        }
    }
}

.card__icone {
    cursor: pointer; /* pour signaler qu’on peut cliquer */
    & i:nth-child(1) {
        font-size: 24px;
        background: linear-gradient($primary-color,$secondary-color);
        background-clip: text; /*pour appliquer le dégradé uniquement au texte */
        -webkit-text-fill-color: transparent; /* pour cacher la couleur par défaut du texte*/
        position: relative;
        top: 50%;
        left: 55%;
        opacity: 0; /* état initial transparent */
        transform: scale(0.01); /* taille initial */
        transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    }
    & i:nth-child(2) {
        position: relative;
        font-size: 24px;
    }
    &:hover { /* Si le cœur n'est pas survolé alors il est caché */
        & i:nth-child(1) {
            opacity: 1;
            transform: scale(1);
        }
        & i:nth-child(2) {
            -webkit-text-fill-color: transparent; /* pour cacher la couleur par défaut du texte*/
        }
    }
}