.navbar__title p {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-size: 30px;
    @media (min-width: 1024px) {
        & {
            font-size: 37px;
            padding: 20px 0 20px 0;
        }
    }
}

.mainHome h2 {
    padding-bottom: 10px;
    @media (min-width: 1024px) {
        & {
            padding: 0 0 5px 180px;
        }
    }
}

.section__restaurantSelection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $grey-light-color;
    padding: 30px 0 60px 0px;
    @media (min-width: 1024px) {
        & {
            padding:30px 0 30px 0px;
        }
        & h1 {
            font-size: 40px;
            padding-bottom: 15px;
        }
    }
    & p {
        padding:10px 10px 30px 10px;
    }
}

.responsiveMax1440 {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:auto;
}

.section__functioning {
    background-color: $white-color;
    padding: 45px 0px 35px 0px;
}


.functioning__link {
    display: flex;
    justify-content: center;
    & ol {
        list-style: none;
    }
    @media (min-width: 1024px) {
        & ol {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        & li {
            // width: 335px;
            height: 72.38px;
        }
    /* Styles adaptés aux desktops */
    }
}

.circleNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -5%;
    background-color: $primary-color;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    & p {
        color:white;
    }
}

.section__cardsRestaurants {
    // display: grid;
    // grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    // gap:2em;
    // box-sizing: border-box;
    background-color: $grey-light-color;
    padding: 50px 0 70px 0;
    @media (min-width: 1024px) {
        &  {
            padding: 20px 0 30px 0;
        }
    /* Styles adaptés aux desktops */
    }
}

.cardsRestaurants__cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 3em;
    column-gap: 6em;
    justify-content: center;
    padding-top: 20px;
}

.card__icone {
    cursor: pointer; /* pour signaler qu’on peut cliquer */
    & i:nth-child(1) {
        font-size: 24px;
        background: linear-gradient($primary-color,$secondary-color);
        background-clip: text; /*pour appliquer le dégradé uniquement au texte */
        -webkit-text-fill-color: transparent; /* pour cacher la couleur par défaut du texte*/
        position: relative;
        top: 50%;
        left: 55%;
        opacity: 0; /* état initial transparent */
        transform: scale(0.01); /* taille initial */
        transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    }
    & i:nth-child(2) {
        position: relative;
        font-size: 24px;
    }
    &:hover { /* Si le cœur n'est pas survolé alors il est caché */
        & i:nth-child(1) {
            opacity: 1;
            transform: scale(1);
        }
        & i:nth-child(2) {
            -webkit-text-fill-color: transparent; /* pour cacher la couleur par défaut du texte*/
        }
    }
}