.backgroundMenu {
    background-color: $grey-light-color;
}
.headernavbarMenu {
    & img {
        height: 257px;
        width: 100%;
    }
    & div:nth-child(1) {
        margin-left: 10px;
    }
    & div:nth-child(2) {
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.menu {
    background-color: $grey-light-color;
    border-radius: 25px 25px 0 0;
    padding-top: 30px;
    position: relative;
    top: -40px;
    &__Enter ol {
        animation: fadeIn 20s ease forwards;
    }
    &__Dishes ol {
        animation: fadeIn 30s ease forwards;
    }
    &__Desserts ol {
        animation: fadeIn 45s ease forwards;
    }
    & h2 {
        padding-top: 30px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
    }
    &__checkAnimation {
        display:block;
        
        display: flex;
        align-items: center;
        justify-content: center;

        height: 69px;
        width: 59px;

        border-radius: 0 15px 15px 0;

        background-color: $tertiary-color;

        & i {
            display:flex;
            font-size: 25px;
            color:$tertiary-color;
            border-radius:50%;
            background-color: white;
        }
    }
    & h3 {
        font-size: 18px;
    }
    & p {
        font-size: 15px;
    }
    &__description {
        padding-left: 10px;
    }
    &__price {
        font-weight: 700;

        padding: 20px 10px 0 0;

        margin-left: auto;

    }
}

.backgroundRectangle--backgroundColorWhite {

    width: 349px;
    height: 69px;

    padding: 0;

    /* Permet à l'élément CheckAnimation d'être caché quant il est dehors*/
    overflow:hidden;

    /* Si l'élément n'est pas activé alors l'élément checkAnimation est déplacé hors de l'élement et caché */
    &:not(:active) {
        .menu__checkAnimation {
            animation: slideFromLeft 1s ease-in-out forwards;
        }
        .menu__price {
            animation: slideFromLeft 1s ease-in-out forwards;
        }
    } 
    /* Si l'élément est activé alors l'élément checkAnimation vient coulisser */
    &:active {

        .menu__description h3, 
        .menu__description p {
            width: 220px;
            white-space: nowrap;            /* empêche le retour à la ligne */
            overflow: hidden;               /* masque le texte qui déborde */
            text-overflow: ellipsis;        /* tronque le texte avec "..." */
        }

        .menu__price {
            animation: slideFromRight 2s ease-in-out forwards;
        }

        .menu__checkAnimation {
            animation: slideFromRight 2s ease-in-out forwards;
        }

    }
}

.line {
    border: none; /* Supprime les bordures par défaut */
    height: 3px; /* Épaisseur de la ligne */
    width: 40px; /* Largeur de la ligne*/
    background-color: $tertiary-color; /* Couleur de la ligne */
    margin: 5px 10px; /* Marges autour de la ligne */
}

.orderButton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

