.backgroundMenu {
    background-color: $grey-light-color;
}
.headernavbarMenu {
    & img {
        height: 257px;
        width: 100%;
    }
    & div:nth-child(1) {
        margin-left: 10px;
    }
    & div:nth-child(2) {
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.menu {
    background-color: $grey-light-color;
    border-radius: 25px 25px 0 0;
    padding-top: 30px;
    position: relative;
    top: -40px;
    &__Enter ol {
        /* Animation d'apparition */
        @keyframes fadeInEnter {
            0% {
                opacity: 0;
                pointer-events: none;
            }
            100% {
                opacity: 1;  
            }
        }
        animation: fadeInEnter 15s ease forwards;
    }
    &__Dishes ol {
        /* Animation d'apparition */
        @keyframes fadeInDishes {
            0% {
                opacity: 0;
                pointer-events: none;
            }
            100% {
                opacity: 1;  
            }
        }
        animation: fadeInDishes 30s ease forwards;
    }
    &__Desserts ol {
        /* Animation d'apparition */
        @keyframes fadeInDesserts {
            0% {
                opacity: 0;
                pointer-events: none;
            }
            100% {
                opacity: 1;  
            }
        }
        animation: fadeInDesserts 45s ease forwards;
    }
    & h2 {
        padding-top: 30px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
    }
    & h3 {
        font-size: 18px;
    }
    & p {
        font-size: 15px;
    }
    &__description {
        padding-left: 10px;
    }
    &__price {
        font-weight: 700;

        padding: 20px 10px 0 0;

        margin-left: auto;

    }
}

.backgroundRectangle--backgroundColorWhite {

    width: 349px;
    height: 69px;

    padding: 0;

    /* Si l'élément n'est pas survolé alors il n'est plus dans le flux DOM */
    &:not(:hover) {
        .menu__checkAnimation {
            display:none;
        }
    } 
    /* Si l'élément est survolé alors il est dans le flux du DOM */
    &:hover {
        @keyframes checkAnimationFromRight {
            0% {
            transform: translateX(40px);    /* Part à droite*/
            }
            100% {
            transform: translateX(0);       /* Remonte complètement */
            }
        }

        .menu__checkAnimation {
            display:block;
        
            display: flex;
            align-items: center;
            justify-content: center;
    
            height: 69px;
            width: 59px;

            border-radius: 0 15px 15px 0;
    
            background-color: $tertiary-color;

            animation: checkAnimationFromRight 4s forwards ease;
    
            & i {
                display:flex;
                font-size: 25px;
                color:$tertiary-color;
                border-radius:50%;
                background-color: white;
            }

        }

        .menu__description h3, 
        .menu__description p {
            width: 220px;
            white-space: nowrap;            /* empêche le retour à la ligne */
            overflow: hidden;               /* masque le texte qui déborde */
            text-overflow: ellipsis;        /* tronque le texte avec "..." */
        }

        transition: 5000ms ease-out;
    }
}

.line {
    border: none; /* Supprime les bordures par défaut */
    height: 3px; /* Épaisseur de la ligne */
    width: 40px; /* Largeur de la ligne*/
    background-color: $tertiary-color; /* Couleur de la ligne */
    margin: 5px 10px; /* Marges autour de la ligne */
}

.orderButton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

