/* Animation d'apparition */
@keyframes fadeIn {
    0% {
        opacity: 0; /* Départ totalement transparent */
        pointer-events: none;
    }
    25% {
        opacity: .2;
    }
    50% {
        opacity: .5;
    }
    75% {
        opacity: .7;
    }
    100% {
        opacity: 1; /* Arrivée totalement opaque */ 
    }
}

/* Animation de disparition */
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

/* Animation du spinner */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}