/* Animation pour faire coulisser l'élément CheckAnimation de → à ← */
@keyframes slideFromRight {
    from {
        transform: translateX(165%);
    }
    to {
        transform: translateX(0);
    }
}
/* Animation pour faire coulisser l'élément CheckAnimation de ← à → */
@keyframes slideFromLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(165%);
    }
}

/* Animation d'apparition */
@keyframes fadeIn {
    0% {
        opacity: 0;
        pointer-events: none;
    }
    100% {
        opacity: 1;  
    }
}

/* Animation de disparition */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
/* Animation du spinner */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}