
$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;
$grey-light-color:#F2F2F2;
$grey-medium-color:#e8e8e8;
$filter-bg-color:#DEEBFF;
$white-color:white;
$black-color:black;
$black-light-color:#353535;

$seize-police-title:24px;
